body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url(./bg.jpg);
    background-size: contain;
    color: white;
    text-align: center;
}

#planetContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    font-size: 20px;
    color: white(0, 0, 0, 0.7);
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0px;
}

ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    background: rgba(255, 255, 255, 0.064);
    margin: 0px auto;
    text-align: center;
    list-style-position: inside;
    list-style-type: none;
    padding: 0px;
    min-height: 1200px;
}

ul {
    padding: 0px;
}

ol > li {
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    margin: 20px 0px;
    width: 50%;
}

h1 {
    text-align: center;
}

#search {
    text-align: center;
}